{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
{% endblock %}

{% block content %}
<div class="m-3">
    <form action="{% url 'answer_quiz' quiz.id %}" method="POST">
        {% csrf_token %}

        {% for question in questions %}
        <div class="card-body my-3">
            <h5 class="card-title">{{ forloop.counter }}.{{ question.question }}</h5>

            {% for choice in question.choice_set.all %}
            <div class="form-check">
                <input type="radio" name="{{ question.id }}" id="choice-{{ question.id }}-{{ choice.id }}" value="{{ choice.id }}" required> {# choice オブジェクトの id を送信する #}
                <label for="choice-{{ question.id }}-{{ choice.id }}">{{ choice.choice }}</label><br>
            </div>
            {% endfor %}

        </div>
        {% endfor %}

        <div class="col text-center">
            <button class="btn btn-secondary" type="submit">提出する</button>
        </div>

    </form>
</div>
{% endblock %}

{% block footer %}{% endblock %}