{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="m-3">
    <form action="{% url 'create_quiz' %}" method="POST">
        {% csrf_token %}
        <label for="{{quiz_form.title.label}}">クイズ名</label>
        {{ quiz_form.title }}
        <div class="form-group mt-3">
            <label for="{{quiz_form.description.label}}">クイズの説明</label>
            {{ quiz_form.description }}
        </div>
        <div class="col text-center mt-2">
            <button class="btn btn-secondary" type="submit">追加する</button>
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}{% endblock %}