{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center" style="height:100vh;">
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <div class="mb-2">
            <label class="form-label" for="{{ form.username.id_for_label }}">ユーザー名</label>
            {{ form.username }}
        </div>
        <div class="mb-2">
            <label class="form-label" for="{{ form.username.id_for_label }}">メールアドレス</label>
            {{ form.email }}
        </div>
        <div class="mb-2">
            <label class="form-label" for="{{ form.password1.id_for_label }}">パスワード</label>
            {{ form.password1 }}
        </div>
        <div class="mb-2">
            <label class="form-label" for="{{ form.password2.id_for_label }}">パスワード(確認用)</label>
            {{ form.password2 }}
        </div>
        <div class="col text-center mt-2">
            <button class="btn btn-secondary" type="submit">送信</button>
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}{% endblock %}